// custom sass/scss settings (all start with app-)
html {
    overflow: hidden;
    height: 100%;
    background-color: #FFF;
}

body {
    height: 100%;
    overflow: auto;
}

.app-colors-primary {
    background-color: aquamarine;
}