<div class="app-nav">
    <div class="tabs is-centered">
      <ul>
        <li v-on:click="setActive('tab0')" v-bind:class="{'is-active': isActive('tab0')}"><a>Pictures</a></li>
        <li v-on:click="setActive('tab1')" v-bind:class="{'is-active': isActive('tab1')}"><a>Music</a></li>
        <li v-on:click="setActive('tab2')" v-bind:class="{'is-active': isActive('tab2')}"><a>Videos</a></li>
        <li v-on:click="setActive('tab3')" v-bind:class="{'is-active': isActive('tab3')}" class="app-colors-primary"><a>Documents</a></li>
      </ul>
    </div>
</div>