<div class="app-nav">
    <nav class="app-nav-bottom">
        <ul class="container">
            <li class="app-nav-bottom-icon-container app-center-text">
                <router-link to="/statistics">
                    <img class="app-nav-bottom-icon" src="../../assets/svg/icon-statistics.svg"><img>
                </router-link>
            </li>          
            <li class="app-nav-bottom-icon-container app-center-text">
                <router-link to="/">
                    <img class="app-nav-bottom-icon" src="../../assets/svg/icon-wheel.svg"><img>
                </router-link>
            </li>
            <li class="app-nav-bottom-icon-container app-center-text">
                <router-link to="/">
                    <img class="app-nav-bottom-icon" src="../../assets/svg/icon-advice.svg"><img>
                </router-link>
            </li>
        </ul>
    </nav>
</div>